.matterhorn-progress-bar
{
  border:1px solid #D3D3D3;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 0, 0);
}

.matterhorn-slide
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:40;
  left:0;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(230, 230, 250);
}

.matterhorn-slide2
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:20;
  left:40;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(150, 150, 255);
}

.matterhorn-slide3
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:30;
  left:60;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(180, 180, 255);
}

.matterhorn-slide4
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:70;
  left:90;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 255, 255);
}

.matterhorn-slide5
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:30;
  left:160;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 255, 255);
}

.matterhorn-slide6
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:70;
  left:190;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 255, 255);
}

.matterhorn-slide7
{
  border:1px solid #AAAAAA;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:98;
  left:260;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 255, 255);
}
