/* CSS file */
Application
{
  backgroundGradientColors: #000000, #000000;
}

Button.Play
{
  font-size: 0;

  upSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
  overSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
  downSkin: Embed(source='skin_opencast.swf', symbol='btn_play_down');
  disabledSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
  selectedUpSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');  
  selectedOverSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
  selectedDownSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
  selectedDisabledSkin: Embed(source='skin_opencast.swf', symbol='btn_play_up');
}

Button.Pause
{
  font-size: 0;

  upSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
  overSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
  downSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_down');
  disabledSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
  selectedUpSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up'); 
  selectedOverSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
  selectedDownSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
  selectedDisabledSkin: Embed(source='skin_opencast.swf', symbol='btn_pause_up');
}

Button.DefaultZoom
{
  font-size: 0;

  upSkin: Embed(source='skin_defaultzoom_up.swf');
  overSkin: Embed(source='skin_defaultzoom_up.swf');
  downSkin: Embed(source='skin_defaultzoom_down.swf');
  disabledSkin: Embed(source='skin_defaultzoom_up.swf');
  selectedUpSkin: Embed(source='skin_defaultzoom_up.swf');
  selectedOverSkin: Embed(source='skin_defaultzoom_up.swf');
  selectedDownSkin: Embed(source='skin_defaultzoom_up.swf');
  selectedDisabledSkin: Embed(source='skin_defaultzoom_up.swf');
}